<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>GetNewsList</servlet-name>
    <servlet-class>com.action.GetNewsList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNews</servlet-name>
    <servlet-class>com.action.GetNews</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>GetNewsList</servlet-name>
    <url-pattern>/getNewsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNews</servlet-name>
    <url-pattern>/getNews</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
